<IfModule mod_headers.c>
  <FilesMatch "\.(jpg|jpeg|png|gif|swf)$">
    Header set Cache-Control "max-age=63072000, public"
  </FilesMatch>
  <FilesMatch "\.(css|js)$">
    Header set Cache-Control "max-age=5184000, public"
  </FilesMatch>
</IfModule>
